@model IEnumerable<GastosPersonales.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center display-6">📚 Categorias</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar nueva categoria</a>
</p>
<hr />
<table class="table shadow-lg table-hover">
    <thead class="table table-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Tipo de categoria
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCategoria)
            </td>
            <td>
                    <a class="btn btn-dark btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
