@model IEnumerable<GastosPersonales.Models.SaldoMensual>

@{
    ViewData["Title"] = "Total Mensual";
}

<h1 class="text-center display-6">Saldos Mensuales</h1>

<p>
    <a asp-action="Create" class="btn btn-danger">Cerrar mes</a>
</p>
@using (Html.BeginForm("SearchByYear", "SaldoMensuales", FormMethod.Get))
{
    <div class="form-group row">
        <label for="year" class="col-sm-2 col-form-label">Buscar por año:</label>
        <div class="col-sm-4">
            <input type="number" id="year" name="year" class="form-control" min="1900" max="@DateTime.Today.Year" required placeholder="2023">
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-sn btn-dark">Buscar</button>
        </div>
    </div>
}


@*<form asp-controller="Usuarios" asp-action="Index">
    <p>
        Buscar: <input type="text" name="Buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sn btn-dark" />
    </p>
</form>*@

<br />

<table class="table table-hover shadow">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Año)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        string nombreMes = new DateTime(1, item.Mes, 1).ToString("MMMM");

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Total) Bs.
            </td>
            <td>
                    @Html.DisplayFor(modelItem => nombreMes )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Año)
            </td>
            <td>
                <a class="btn btn-dark btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalle</a> 
@*                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
