@model IEnumerable<GastosPersonales.Models.SaldoMensual>

@{
    ViewData["Title"] = "Index";
}

<h1>Listas Mensuales</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<form asp-controller="Usuarios" asp-action="Index">
    <p>
        Buscar: <input type="text" name="Buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sn btn-dark" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Año)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        string nombreMes = new DateTime(1, item.Mes, 1).ToString("MMMM");

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => nombreMes )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Año)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
